{% assign certifications = site.data.data.certifications %} {% if certifications %}
<section class="section certifications-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  <div class="cert-section">
    {% for certification in certifications.list %}
      <span class="cert-element">
        <a href="{{ certification.credentialurl }}" 
           target="_blank" 
           title="{{ certification.organization }} : {{ certification.start }} {% if certification.end %} - {{certification.end }} {% endif %}"
           > {{ certification.name }} &nbsp; &nbsp;</a>
<!--        
        <span class="tooltiptext">
          <div class="details">{{ certification.details | markdownify }}</div>  
        </span>
-->        
    </span>
    {% endfor %}  
  </div>
    
 
</section>
<!--//section-->
{% endif %}
