{% assign strenghts = site.data.data.sidebar.clifton-strengths %}
{% if strenghts %}
<div class="interests-container container-block">

  <h2 class="cliftonstrenghts-title">
    <span href="https://www.gallup.com/"><i>Clifton Strengths</i></span>
  </h2>
  {% if strenghts.id %}
  <div class="cliftonstrenghts-id">
    {% if strenghts.url %}
        <span href="{{ strenghts.url }}" target="_blank">{{ strenghts.id }}</span>
    {% else %}
        {{ strenghts.id }}
    {% endif %}

  </div>
  {% endif %}

  <ol class="list-unstyled interests-list">
    {% for each in strenghts.list %}
      <li>{{ each }}</li>
    {% endfor %}
  </ol>

</div>
{% endif %}
