{% assign skills = site.data.data.sidebar.soft-skills %}
{% if skills %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Soft Skills
  </h2>

  <ul class="list-unstyled interests-list">
    {% for skill in skills %}
        <li>&bull;&nbsp; {{ skill }}</li>
      {% if interest.link %}
        <li>&bull;&nbsp; <span href="{{ interest.link }}">{{ interest.item }}</span></li>
      {% else %}
        <li>{{ interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
