{% assign skills = site.data.data.sidebar.tech-skills %}
{% if skills %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Tech Skills
  </h2>

  <ul class="list-unstyled soft-skill-list">
    {% for skill in skills %}
        <li>
            {% if skill.url %}
            <h5 class="soft-skill-title"><a href="{{ skill.url }}" class="tech-skill-url">&bull;{{ skill.title }}: </a></h5>
            {% else %}
            <h5 class="soft-skill-title">&bull;{{ skill.title }}: </h5>
            {% endif %}

            {% assign framework_size = skill.list | size  %}
            {% assign framework_counter = 0 %}            
            {% for framework in skill.list %}
                {% assign framework_counter = framework_counter | plus: 1 %}
                <span class="meta">
                    {% if framework.url %}<a href="{{ framework.url }}" class="tech-skill-url">{{ framework.name }}</a>{% else %}<span>{{ framework }}</span>{% endif %}{% if framework_counter != framework_size %}&comma;{% endif %}
                </span>
            {% endfor %} <!-- // each framework -->
        </li>
    {% endfor %} <!-- // tech skills -->
  </ul>

</div><!--//interests-->
{% endif %}
