@media print {
    @page {
        size: landscape;
        // page-orientation: rotate-left;
    }
    body {
        font-size: 10pt;
        --fontsize1: 18px;
        --fontsize2: 16px;
        --fontsize3: 14px;
        --fontsize4: 12px;
        --fontsize5: 12px;
    }

    .sidebar-wrapper {
        position: static;
        float: left;
        width: 35%;
        height: 100%; 
        background-repeat: repeat-y;
    }
    .main-wrapper{
        width: 100%;
        // float: right;
    }

    .main-wrapper .time {
        position: relative;
        right: 0;
        top: 0;
        color: #97AAC3;
        flex: 25%;
        display: flex;
        justify-content: right;
    }

     img.avatar {
        display: none;
     }


}

// @media print
//    {
//     @page {
//         size: A4;
//     }
//     body {
//        font-size: 12pt;
//     }
// 
//     img.avatar {
//         filter: grayscale(1);
//         -webkit-filter: greyscale(1);
//     }
//    .main-wrapper .time {
//        float: right;
//         color: black !important;
//         -webkit-print-color-adjust: exact; 
//    }
//     .sidebar-wrapper {
//         position: static;
//         float: left;
//         width: 40%;
//         -webkit-print-color-adjust: exact; 
//     }
// 
//     .remove-container.container-block {
//        display: none;
//     }
// 
//     footer {
//        display: none;
//     }
// 
//     .skillset .level-bar-inner {
//        background-color: black !important;
//        -webkit-print-color-adjust: exact; 
//     }
// 
//    .fa-inverse,
//    .fa-inverse:after,
//    .fa-inverse:before {
//      color: #ffffff !important;
//    }
// 
// }
// 